
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main_title">
    <h1>Liên hệ</h1>
</div>

<div class="contact-box">
    <div class="container">
        <div class="contact-color-bg">
            <div class="col-md-12">
                <div class="contact-info text-center row">
                    <div class="contact-address col-lg-3 col-md-6">
                        <div class="inner-cont">
                            <div class="c_icon">
                                <i class="fas fa-location-arrow"></i>
                            </div>
                            <div class="c_content media-small mt-3 mb-3">
                                <span class="font-weight-bold text-uppercase">Địa chỉ</span>
                                <p class="m-0">24 ngõ 260/28 Cầu Giấy, Hà Nội</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-email col-lg-3 col-md-6">
                        <div class="inner-cont">
                            <div class="c_icon">
                                <i class="far fa-envelope-open"></i>
                            </div>
                            <div class="c_content media-small mt-3 mb-3">
                                <span class="w-100 font-weight-bold text-uppercase">Hòm thư</span>
                                <p class="m-0">sales@vncloud.vn</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-phone col-lg-3 col-md-6">
                        <div class="inner-cont text-center">
                            <div class="c_icon">
                                <i class="fas fa-phone-volume"></i>
                            </div>
                            <div class="c_content media-small mt-3 mb-3">
                                <span class="font-weight-bold text-uppercase">Số Điện Thoại</span>
                                <p class="m-0">0898-579-216</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-phone col-lg-3 col-md-6">
                        <div class="inner-cont">
                            <div class="c_icon">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                            <div class="c_content media-small mt-3 mb-3">
                                <span class="font-weight-bold text-uppercase">Giờ làm việc</span>
                                <p class="m-0">T2-T7, 8 sáng – 6 chiều</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="contac_form">
            <div class="text-center">
                <h3>BẠN THÂN MẾN!</h3>
                <p class="subtitle">CHÚNG TÔI LUÔN MONG MUỐN ĐƯỢC PHỤC VỤ!</p>
            </div>
        </section>
    </div>
    <section class="google-map text-center p-0" id="map">
        <embed width="100%" height="325" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=105.796507,21.035165&amp;hl=es;z=14&amp;output=embed">
    </section>
</div>

<div class="clearfix"></div>

