
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main_title">
    <h1>Giới thiệu</h1>
</div>

<div class="outer_dpage">
    <div class="container">
        <div class="middle-content">
            <h4 style="text-align: center;"><span style="color: #7fbe4b;"><strong>NHIỆM VỤ CỦA CHÚNG TÔI</strong></span></h4>
            <h6 style="text-align: center;"><span style="color: #046b96;"><strong>GIÚP BẠN CÓ MỘT HẠ TẦNG MẠNH MẼ, ỔN ĐỊNH VÀ AN TOÀN VỚI CHI PHÍ TỐI ƯU!</strong></span></h6>
            <hr>
            <h4 style="text-align: center;"><span style="color: #7fbe4b;"><strong>VỀ CHÚNG TÔI</strong></span></h4>
            <p style="text-align: justify;"><span style="color: #046b96;">Trong thời đại công nghệ thông tin, rất hiển nhiên, các ứng dụng (web app, mobile app) là yếu tố quan trọng nhất của một doanh nghiệp. Các ứng dụng đóng vai trò là bộ mặt, điểm tiếp xúc đầu tiên cũng như cầu nối giữa khách hàng tiềm năng với doanh nghiệp, là xương sống giúp doanh nghiệp quản lý và vận hành hiệu quả. Thế nhưng, hiện nay đang có bao nhiêu ứng dụng giữ chân được khách hàng và vận hành hiệu quả?</span></p>
            <p style="text-align: justify;"><span style="color: #046b96;">Một trong những điều quan trọng nhất giúp làm tăng trải nghiệm khách hàng, đã được nhắc đi nhắc lại rất nhiều lần chính là tốc độ của ứng dụng. Thống kê cho thấy rằng hơn 40% khách hàng sẽ thoát khỏi ứng dụng nếu tốc độ xử lý cho 1 lần click lớn hơn 3 giây? Thế thì làm thế nào để tăng tốc độ xử lý của ứng dụng?</span></p>
            <p style="text-align: justify;"><span style="color: #046b96;">Việc đầu tiên chúng ta hay nghĩ đến là tối ưu tốc độ xử lý của ứng dụng. Tuy nhiên tối ưu tốc độ là một câu chuyện dài vì: cần thời gian để nghiên cứu tìm giải pháp và cần phải có nhân sự chất lượng cao. Chính vì thế các chuyên gia luôn khuyến cáo rằng để tăng tốc độ ứng dụng thì yếu tố nên được cân nhắc đầu tiên đó là nâng cấp hạ tầng phần cứng của bạn. Nó sẽ phát huy hiệu quả tức thì, sau đó mới là tối ưu hóa ứng dụng.</span></p>
            <p style="text-align: justify;">
                <span style="color: #046b96;">Vậy các yếu tố về chi phí để có 1 nền tảng phần cứng truyền thống sử dụng server vật lý sẽ phải cân nhắc đến là:</span><br>
                <span style="color: #046b96;">1 – Nếu đầu tư vừa đủ cho nhu cầu hiện tại thì sẽ ra sao nếu sau này cần mở rộng?</span><br>
                <span style="color: #046b96;">2 – Nếu đầu tư để sẵn sàng mở rộng sau này thì chi phí sẽ rất lớn. Và sẽ cực kỳ lãng phí nếu không dùng đến.</span><br>
                <span style="color: #046b96;">3 – Đầu tư rồi nhưng chỗ thừa vẫn thừa và chỗ thiếu vẫn thiếu vì không thể chia sẻ tài nguyên giữa các hệ thống.</span><br>
                <span style="color: #046b96;">4 – Server vật lý thì cực kỳ khó nâng cấp hay thậm chí là không thể nâng cấp.</span><br>
                <span style="color: #046b96;">5 – Thêm người vận hành phát sinh chi phí mà khi bảo hành bảo trì vẫn phải đợi xử lý trong khi Dịch vụ cần phải có ngay.</span>
            </p>
            <p style="text-align: justify;"><span style="color: #046b96;">Giờ đây bạn không cần phải quan tâm những vấn đề này nữa, chúng tôi sẽ giúp bạn. Tại vnCloud chúng tôi cung cấp hạ tầng ảo hóa tiên tiến để giúp bạn có 1 hạ tầng mạnh mẽ, an toàn và ổn định với chi phí tối ưu và dễ dàng mở rộng linh hoạt theo nhu cầu mà không làm gián đoạn dịch vụ của khách hàng. Bên cạnh đó chúng tôi còn cung cấp dịch vụ phát triển ứng dụng theo nhu cầu của bạn.</span></p>
            <p style="text-align: center;"><span style="color: #046b96;"><strong>TRÂN TRỌNG CẢM ƠN!</strong></span></p>
            <hr>
            <p style="text-align: center;"><span style="color: #7fbe4b;"><strong>BELIEVE – BEGIN – BECOME</strong></span></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="clearfix"></div>

