
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="slider" >
    
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="https://vncloud.vn/wp-content/uploads/2018/08/vncloud-slide-01.png" alt="1" title="#slidecaption1">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="inner_carousel">
                            <h2 class="font-weight-bold"><small>Chúng tôi sẽ giúp bạn</small>Một Hạ Tầng Mạnh Mẽ</h2>
                            <div class="prop_desc"><p>Để thành công bạn luôn bắt đầu bằng làm việc chăm chỉ và cống hiến. Nhưng nhân tố quan trọng không kém đó là một nền tảng công nghệ mạnh mẽ giúp bạn không giới hạn tiềm năng của mình!</p></div>
                            <a class="read-more font-weight-bold btn btn-primary theme_button" href="https://vncloud.vn/cloud-server/">Get Started</a>
                            <a class="ml-3 read-more font-weight-bold btn btn-primary theme_white_button" href="https://vncloud.vn/contact/">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="item ">
                    <img src="https://vncloud.vn/wp-content/uploads/2018/08/vncloud-slide02-optimize-cost.png" alt="1" title="#slidecaption2">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="inner_carousel">
                            <h2 class="font-weight-bold"><small>Với một</small>Chi Phí Tối Ưu</h2>
                            <div class="prop_desc"><p>Chúng tôi sẽ giúp bạn giải quyết các bài toán về Chi phí, Quản trị hiệu quả, Tối ưu nhân sự công nghệ thông tin!</p></div>
                            <a class="read-more font-weight-bold btn btn-primary theme_button" href="https://vncloud.vn/cloud-server/">Get Started</a>
                            <a class="ml-3 read-more font-weight-bold btn btn-primary theme_white_button" href="https://vncloud.vn/contact/">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="item ">
                    <img src="https://vncloud.vn/wp-content/uploads/2018/08/slide02.png" alt="1" title="#slidecaption3">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="inner_carousel">
                            <h2 class="font-weight-bold"><small>Và khả năng</small>Mở rộng Không giới hạn</h2>
                            <div class="prop_desc"><p>Chúng tôi sẽ giúp bạn khả năng mở rộng hệ thống không giới hạn với cam kết không làm gián đoạn dịch vụ của khách hàng!</p></div>
                            <a class="read-more font-weight-bold btn btn-primary theme_button" href="https://vncloud.vn/cloud-server/">Get Started</a>
                            <a class="ml-3 read-more font-weight-bold btn btn-primary theme_white_button" href="https://vncloud.vn/contact/">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
</section>

<section id="about" style="">
   <hr/>
    <div class="inner_sec">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about-content">
                        <div class="about-heading">
                            <h3>Giới thiệu</h3>
                        </div>
                        <div class="about-heading mt-3">
                            <h4 class="subheading">vnCloud tối ưu chi phí cho bạn!</h4>
                        </div>
                        <p>Trong thời đại công nghệ thông tin các ứng dụng (web app, mobile app) là yếu tố quan trọng nhất của một doanh nghiệp. Các ứng dụng đóng vai trò là bộ mặt, điểm tiếp xúc đầu tiên, là cầu nối giữa khách hàng tiềm năng với doanh nghiệp cũng như là xương sống giúp doanh nghiệp quản lý và vận hành hiệu quả. Thống kê cho thấy rằng hơn 40% khách hàng sẽ thoát khỏi ứng dụng nếu tốc độ xử lý cho 1 lần click lớn hơn 3 giây! Vậy làm thế nào để tăng tốc độ xử lý của ứng dụng?</p>
                        <ul class="row">
                            <li class="col-md-6">
                                <div class="li_content">
                                    <p class="text-uppercase font-weight-bold">
                                        <i class="mr-2 fas fa-certificate"></i>
                                        Certified Company
                                    </p>
                                </div>
                            </li>
                            <li class="col-md-6">
                                <div class="li_content">
                                    <p class="text-uppercase font-weight-bold">
                                        <i class="mr-2 fas fa-cloud"></i>
                                        SOLUTION COMPANY
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <a class="theme_button" href="https://vncloud.vn/about/">Read More</a>
                    </div>
                </div>
                <div class="about_img col-lg-6 col-md-6 col-sm-6">
                    <span class="thumb_image_border"></span>
                    <img src="https://vncloud.vn/wp-content/uploads/2018/08/about-img.png" alt="">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

