@import "vendors/bootstrap/bootstrap.less";
@import "vendors/font-awesome/web-fonts-with-css/less/fontawesome.less";


html {
    width: 100%;
    height: 100%;

}

body {
    width: 100%;
    height: 100%;
    font-family: "Roboto";
    font-size: 14px;
}

.headers{
    height:60px;
    font-family: "Roboto";
    font-weight: bold;
    background:#ffffff;
    margin-left:0;
    margin-right:0;
}
.headers ul li
{
    position: relative;
}
.headers ul li::after {
  content: '';
  margin-top: 10px;
  height: 50%; 
  width: 1px;

  position: absolute;
  right: 0;
  top: 0; 
  background-color:#000000;

}

//Typography
h1, h4, h5, h6 {
    margin: 10px -15px 35px;
    text-transform: uppercase;
    font-family: 'Roboto';
    letter-spacing: 1px;
}
h2 {
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #7fbe4b;
    font-weight: 900;
    letter-spacing: 3px;
}
h3 {
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    margin-bottom: 20px;
}
h3::after{
  content: "";
  position: absolute;
  margin-top:10px;
  height: 2px;
  background: #7fbe4b;
  top: 100%;
  width: 25%;
  left: 13%;
  transform: translateX(-50%);
}
p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    letter-spacing: 0px;
}

a {
    color: #7fbe4b;
    font-size: 16px;
}

a:hover, a:focus {
        text-decoration: none;
        color: #7fbe4b !important;
    }

//Navigation
.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    text-transform: uppercase;
    font-family: "Roboto";
    background-color: @dark;
}

.navbar-brand {
    font-weight: 700;
}

    .navbar-brand:focus {
        outline: none;
    }

.navbar-custom a {
    color: @light;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

    .navbar-custom .nav li a:hover {
        outline: none;
        background-color: rgba(255,255,255,0.2);
    }

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: @light;
}

@media(min-width: 767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: none;
        background: transparent;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: @dark;
    }

    .navbar-custom .top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
}


@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px !important;
    }

    .intro-body {
        font-size: 25px;
    }
}

//Content Section
.content-section {
    padding: 70px 0 40px;
}


@media(min-width:767px) {
    .who-section {
        padding: 100px 0;
    }
}



//COntact section
#contact {
    background: @dark;
    color: @light;
    padding-bottom: 80px;
}

//footer section
.outer-footer {
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    outline: none;
}
.footer {
    padding: 3em 0 0 0px;
    text-align: left;
}

.page-scroll {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -webkit-transform;
    -moz-transition-duration: 1s;
}

.footer-cols {
    padding-bottom: 40px;
}


@media (min-width: 1200px) .row {
    margin-right: -15px;
    margin-left: -15px;
}

#slider {
    max-width: 100%;
    margin: auto;
    padding: 0;
    position: relative;
}

img {
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
#slider .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: inherit;
    text-align: left;
    left: 10%;
    right: 10%;
}
.inner_carousel {
    padding: 20px 20px ;
    text-align: center;
}

#slider p {
    color: #ffffff;
    font-weight: 700;
    margin: 15px 0 15px 0;
    line-height: 20px;
    border-radius: 0 0 5px 5px;
    font: 16px/20px roboto;
}
a.theme_button {
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 1px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    background: #7fbe4b;
    border-radius: 0;
}
a.theme_white_button {
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 1px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
    background: #ffffff;
    color: #7fbe4b;

}
.ml-3 {
    margin-left: 1rem !important;
}
.about-content {
    margin-right: 20px;
}
section h3 {
    font-weight: 900;
    color: #7fbe4b;
    border-left: 5px solid #000000;
    padding: 0;
    padding-left: 15px;
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-size: 1.75rem;
}
.about-content p {
    padding: 10px 0;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}
.about-content a {
    display: inline-block;
    margin-top: 25px;
}

img {
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.about_img img {
    width: 100%;
}
section img {
    max-width: 100%;
}