@import "vendors/bootstrap/bootstrap.less";
@import "vendors/font-awesome/web-fonts-with-css/less/fontawesome.less";


html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Roboto";
    font-size: 14px;
    color: #5b5b5b;
    background-color: #fff;
    margin-top: -20px;
    line-height:1.8;
}

.headers {
    height: 60px;
    font-family: "Roboto";
    font-weight: bold;
    background: #ffffff;
    margin: 0;
    border-bottom: 2px solid #7fbe4b;
    border-top: 2px solid #7fbe4b;
    width: 100%;
}

    .headers ul li {
        position: relative;
    }

ul {
    margin: 0 0 0 15px;
    padding: 0;
}

.contact_details ul li {
    list-style: none;
    display: inline;
    color: #ffffff;
    font-size: 16px;
    margin-left: 10px;
}

    .contact_details ul li span i {
        padding-right: 6px;
        color: #7fbe4b;
    }

.headers ul li::after {
    content: '';
    margin-top: 10px;
    height: 50%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000000;
}

#lienhe::after {
    content: none;
}

.top_bar {
    height: 59px;
    background: #000000;
    width: 100%;
    float: left;
    padding: 4px;
}

#nav-bar {
    margin-top: 3px;
}

.socialbox {
    text-align: right;
}

    .socialbox a {
        border-right: 1px solid #ccc;
        padding: 0px 8px;
    }

//Typography
h1, h5, h6 {
    margin: 10px -15px 35px;
    text-transform: uppercase;
    font-family: 'Roboto';
    letter-spacing: 1px;
}
h4 {
    margin: 0;
    padding: 10px 0;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #046b96;
    font-family: 'Roboto';
}
h2 {
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #7fbe4b;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 2.0;
}

h3 {
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    margin-bottom: 20px;
}

    h3::after {
        content: "";
        position: absolute;
        margin-top: 10px;
        height: 2px;
        background: #7fbe4b;
        top: 100%;
        width: 25%;
        left: 13%;
        transform: translateX(-50%);
    }

p {
    margin: 15px 0 15px;
    padding: 0;
    font-family: 'Roboto';
    letter-spacing: 0px;
    font-weight: normal;
    font-size: 14px;
}


a {
    color: #7fbe4b;
    font-size: 16px;
}

    a:hover, a:focus {
        text-decoration: none;
        color: #7fbe4b !important;
    }



.contact_details {
    padding: 12px 0;
}

//Navigation
.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    text-transform: uppercase;
    font-family: "Roboto";
    background-color: #333333;
}

.navbar-brand {
    font-weight: 700;
}

    .navbar-brand:focus {
        outline: none;
    }

.navbar-custom a {
    color: #f4f4f4;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

    .navbar-custom .nav li a:hover {
        outline: none;
        background-color: rgba(255,255,255,0.2);
    }

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #f4f4f4;
}

@media(min-width: 767px) {
    .navbar {
        padding: 55px 0;
        border-bottom: none;
        background: transparent;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #333333;
    }

    .navbar-custom .top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
}

.myTopnav .midnav li a.icon {
    float: right;
    display: none;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px !important;
    }

    .intro-body {
        font-size: 25px;
    }
}

//Content Section
.content-section {
    padding: 70px 0 40px;
}


@media(min-width:767px) {
    .who-section {
        padding: 100px 0;
    }
}

@media(max-width:1200px) {
    .headers {
        height: 100px;
    }

    .custom-logo {
        height: 40px;
        width: auto;
    }

    .navbar-nav > .page-scroll > a {
        font-size: 14px !important;
    }

    #nav-bar {
        margin-top: 20px;
    }
}

@media(max-width:992px) {

    .custom-logo {
        height: 40px;
        width: auto;
    }

    .myTopnav .midnav  li a {
        display: none;
    }
    .myTopnav .rightnav  a {
        display: none;
    }

    .myTopnav .midnav li a.icon {
       
        float: right;
        display: block;
    }
}

@media(max-width:992px) {

    .custom-logo {
        height: 40px;
        width: auto;
    }

    .midnav .responsive {
        position: relative;
    }

        .midnav .responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .midnav .responsive  li{
            list-style:none;
            
        }
            .midnav .responsive li a {
                float: none;
                display: block;
                text-align: right;
            }
}




.outer-footer {
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    outline: none;
}

.footer {
    padding: 3em 0 0 0px;
    text-align: left;
}

.page-scroll {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -webkit-transform;
    -moz-transition-duration: 1s;
}

.footer-cols {
    padding-bottom: 40px;
}




#slider {
    max-width: 100%;
    margin: auto;
    padding: 0;
    position: relative;
}

img {
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
#slider .carousel-caption.d-none.d-md-block {
    max-width: 600px;
    margin: 0 auto;
}
#slider .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: inherit;
    text-align: left;
    left: 10%;
    right: 10%;
}

.inner_carousel {
    padding: 20px 20px;
    text-align: center;
}
#slider h2 {
    text-transform: uppercase;
    color: #7fbe4b;
    font-weight: 900;
}
#slider p {
    color: #ffffff;
    font-weight: 700;
    margin: 15px 0 15px 0;
    line-height: 20px;
    border-radius: 0 0 5px 5px;
    font: 16px/20px roboto;
}

a.theme_button {
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    margin-top: 3px;
    letter-spacing: 1px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    background: #7fbe4b;
    border-radius: 0;
}

a.theme_white_button {
    border: none;
    text-transform: uppercase;
    margin-top: 3px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0;
    background: #ffffff;
    color: #7fbe4b;
}

.ml-3 {
    margin-left: 1rem !important;
}

.about-content {
    margin-right: 20px;
}
section {
    margin-bottom: 30px;
}
#site-top {
    margin: 0;
}
section h3 {
    font-weight: 900;
    color: #7fbe4b;
    border-left: 5px solid #000000;
    padding: 0;
    padding-left: 15px;
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-size: 1.75rem;
}

    section h2 {
        font-weight: bold;
        padding: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #22272b;
        padding: 0 0 10px;
        margin: 0;
        font-weight: 900;
        letter-spacing: 3px;
    }

#services-tab h3 {
    font-weight: 900;
    color: #fff;
    border-left: 5px solid #000000;
    padding: 0;
    padding-left: 15px;
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-size: 1.75rem;
    margin-top: 30px;
}

.about-content p {
    padding: 10px 0;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}

.about-content a {
    display: inline-block;
    margin-top: 25px;
}

img {
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.about_img img {
    width: 100%;
}

section img {
    max-width: 100%;
}

container h1 {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #7fbe4b;
    margin-top: 7px;
}

h1 {
    margin: 0 !important;
    padding: 10px 0 !important;
    line-height: 1.4 !important;
    letter-spacing: 1px !important;
    color: #046b96 !important;
    font-family: 'Roboto' !important;
}

h5 {
    padding: 10px 0;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #046b96;
    font-family: 'Roboto';
    margin: 1em 0;
    font-size: 2rem;
}

.sow-icon-container {
    font-family: 'feature-background';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    position: relative;
    color: #404040;
    margin-top: 20px;
}

th {
    text-align: center;
    font-size: 17px;
    color: #fff;
}

#tablepress-2 {
    table-layout: fixed;
    line-height: 2.5;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: #32ac40;
}

table {
    font-size: 14px;
}

#about ul li {
    list-style: none;
}

#carousel-inner1 .item {
    margin-bottom: 130px;
    margin-top: 40px;
}

.partner-h3 {
    margin-top: 20px;
    color: #fff;
}

.white_head_title {
    margin-top: 30px;
    color: #fff;
}
.tab-content h4 {
    font-weight: bold;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    display: table;
    margin-bottom: 20px;
}
section h4 {
    color: #000;
    font-size: 20px;
}

.services-editor {
    line-height: 27px;
    font-size: 15px;
}
.rotate-btn {
    position: relative;
    width: 150px;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
    background-color: transparent;
}
#latest_post{
    height:580px;
}
.innerbox {
    background-size: 100% 100%;
}
.post_thumb {
    position: relative;
}
.date_div {
    position: absolute;
    bottom: 0;
    background-color: #7fbe4b;
    padding: 11px;
    color: #ffffff;
    font-weight: bold;
}
h4.latest_post_name a {
    font-weight: bold;
}
.latest_post_text span {
    color: #000000;
    font-weight: bold;
}
.latest_post_text i {
    color: #7fbe4b;
    font-weight: bold;
}
.m-0 {
    margin: 0 0 !important;
}
.mr-3 {
    margin-right: 1rem !important;
}
.mr-2 {
    margin-right: .5rem !important;
}